
body { 
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,89,1) 35%, rgba(0,212,255,1) 100%);
}

.centro{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* .card{
	background-color: rgba(0, 66, 153, 0.08);
} */